# fly.toml app configuration file generated for traderbot-api on 2025-11-04T21:29:13-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'traderbot-api'
primary_region = 'ord'

[build]
  dockerfile = 'Dockerfile'

[deploy]
  release_command = "python -c 'import os; os.makedirs(\"logs\", exist_ok=True)'"

[env]
  ENVIRONMENT = 'production'
  PORT = '8000'

[[mounts]]
  source = 'traderbot_data'
  destination = '/app/data'

[[services]]
  protocol = 'tcp'
  internal_port = 8000
  processes = ['app']

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [services.concurrency]
    type = 'connections'
    hard_limit = 25
    soft_limit = 20

  [[services.tcp_checks]]
    interval = '15s'
    timeout = '2s'
    grace_period = '10s'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
